<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Grant Harris</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
    <script src="https://use.typekit.net/iis8vvd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <%= yield %>
    
    <%= javascript_include_tag 'main' %>

  </body>
</html>
