// footer

.footer__content {
	padding: 4rem 4rem 4rem 30rem;
	margin-left: -30rem;
	// border-top: 1px solid $light;
	background-color: $footer;

	p {
		@include pm-clear;
		color: $copy;
		font-size: 1.2rem;
	}
}