// global styles

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "aktiv-grotesk";
}

*, *:before, *:after {
  box-sizing: inherit;
}


// typo

p, h1, h2, h3, h4, h5 {
	@include pm-clear;
}

p {
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.8;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.8;
}

h2 {
	font-size: 3.6rem;
	font-weight: 700;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.2rem;
}

a {
	// @include transition(.1s);
	text-decoration: none;
	color: rgba(255,255,255,0.4);
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: 2px;
	line-height: 1.8;
	margin-right: 2rem;
	text-transform: uppercase;

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		background-color: $blue;
	}
}

.disabled {
	opacity: .5 !important;

	&:hover {
		background-color: $footer;
	}
}




// layout

.kanye {
	width: 70rem;
	margin: 0 auto;
}

// hr {
// 	display: block;
// 	appearance: none;
// 	outline: none;
// 	width: 3rem;
// 	height: 3px;
// 	background-color: darken($primary, 10%);
// 	margin: 3rem auto;
// 	border: none;
// 	opacity: .1;
// }







