// global styles

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "aktiv-grotesk",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// typo

p, h1, h2, h3, h4, h5 {
	@include pm-clear;
}

p {
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: .8px;
	line-height: 1.8;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.8;
}

h2 {
	font-size: 3.6rem;
	font-weight: 700;
}

h3 {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $copy;
	margin-bottom: 1rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.2rem;
}

a {
	@include pm-clear;
	@include transition(.1s);
	text-decoration: none;
	color: $primary;
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: 2px;
	margin-right: 2rem;
	text-transform: uppercase;
	background-color: darken($footer, 5%);

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		background-color: lighten($blue, 16%);
	}
}

.disabled {
	opacity: .5 !important;

	&:hover {
		background-color: $footer;
	}
}

.ampersand {
	font-weight: 400 !important;
	font-style: oblique;
	font-family: Baskerville;
}




// layout

.kanye {
	@include pm-clear;
	// max-width: 50rem;
	width: 50rem;
	margin-left: 30rem;
}

.kanye__ego {
	@include pm-clear;
	width: 57rem;
	// width: 85%;
	margin-left: 30rem;
}







