// header

header {
	@include pm-clear;
	padding: 10rem 0;
	background-image: linear-gradient(45deg, #34363F 0%, #262830 100%);
	text-align: center;

	h1 {
		color: rgba(255,255,255,0.7);
		font-weight: 100;

		span {
			font-weight: 400;
			color: $white;
		}
	}
}