// position

.experience__position {
	@include transition(.1s);
	@include pm-clear;
	// padding: 10rem 0;
	padding: 5rem 0;
	// border-bottom: 1px solid #e1e1e1;

	&:first-of-type {
		margin-top: 5rem;
	}

	&:last-of-type {
		margin-bottom: 5rem;
	}

	// &:hover {

	// 	a {
	// 		@include button-sm-blue;
	// 	}

	// 	a.disabled {
	// 		@include button-sm;
	// 	}
	// }

	h2 {
		color: $primary;
	}

	.date {
		font-weight: 500;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: $shade-light;
		margin-bottom: 2rem;
	}

	.additional-info {
		font-weight: 500;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: $blue;
		margin-bottom: .6rem;
		font-size: 1.2rem;
	}

	.btn {
		@include button($blue);
	}

	.btn--disabled {
		@extend .btn;
		opacity: .3;

		&:hover {
			background-color: $blue;
		}
	}

	// #nebula {
	// 	@include button($nebula);
	// }

	// #intel {
	// 	@include button($intel);
	// }

	// #passwordbox {
	// 	@include button($passwordbox);
	// }

	p {
		color: $copy;
		margin-bottom: 3rem;

		a {
			@include transition(.15s);
			font-weight: 700;
			color: $copy;
			text-decoration: none;
			padding-bottom: 3px;
			border-bottom: 2px solid rgba(129,130,152,.3);

			&:hover {
				border-color: $blue;
				padding-bottom: 6px;
			}
		}
	}

	span {
		font-weight: 700;
	}
}