// Colors

$primary:							#34363F;
$blue:                #74A7FF;
$shade-dark:					#353541;
$copy:        				#818298;
$shade-light:					#d2d3e3;
$smoke:								#f6f6f6;
$white:								#fff;
$light:               #e1e1e1;
$footer:              #F3F4F6;

// spec colors

$intel:								#0071c5;
$passwordbox:					#96c142;
$nebula:              #74a7ff;

// Misc

$transition:          .15s;






