<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Grant Harris - Designer</title>
    <meta name="description" content="Grant Harris is a Designer who is driven by his passion for building products that matter.  He is currently creating solutions to obliterate the password; changing the world's digital security standard.">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
    <script src="https://use.typekit.net/iis8vvd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <header class="header">
      <div class="kanye__ego">
        <a id="clear" href="http://www.grantharr.is">
          <svg id="logo" class="logo" version="1.1"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
             x="0px" y="0px" width="62.5px" height="91.2px" viewBox="0 0 62.5 91.2" enable-background="new 0 0 62.5 91.2"
             xml:space="preserve">
          <path d="M50,0v6.2C44.8,2.3,38.3,0,31.2,0C14,0,0,14,0,31.2c0,17.3,14,31.2,31.2,31.2c7,0,13.5-2.3,18.8-6.2V60
            c0,10.4-8.4,18.8-18.8,18.8c-8.4,0-15.5-5.5-17.9-13.2L1.4,69.3c4,12.7,15.8,21.9,29.8,21.9c17.3,0,31.2-14,31.2-31.2V0H50z
             M31.2,50c-10.4,0-18.8-8.4-18.8-18.8s8.4-18.8,18.8-18.8S50,20.9,50,31.2S41.6,50,31.2,50z"/>
          </svg>
        </a>
        <h3>Who</h3>
        <h1><span>Grant Harris</span> is a <span>Designer</span> who is driven by his passion for building meaningful products.  He currently works at <span>Intel</span> creating solutions to obliterate the password; changing the world's digital security standard.</h1>

      </div>
    </header>

    <div class="kanye__ego">
      <section id="social">
        <h3>What</h3>
        <a class="social" href="http://www.dribbble.com/grantharris" target="_blank">Dribbble</a><a class="social" href="http://www.twitter.com/grantharr_s" target="_blank">Twitter</a><a class="social" href="http://www.instagram.com/grantharr_s" target="_blank">Instagram</a><a class="social" href="mailto:me@grantharr.is">Contact</a>
      </section>
    </div>

    <main id="experience">
        <div class="experience__position">
          <div class="kanye">
            <h3>Where</h3>
            <h2>Nebula</h2>
            <!-- <p class="additional-info">In development</span></p> -->
            <p class="date">November 2015 - Present</p>
            <p>As <span>Co-founder <span class="ampersand">&amp;</span> Creative Director</span>, Grant helps <span>Nebula</span> deliver a stunning digital experience for a vast range of clients though user-centered design.</p>
            <a href="#" id="nebula" class="btn--disabled" target="_blank">Website in development</a>
          </div>
        </div>

        <div class="experience__position">
          <div class="kanye">
            <h2>Intel</h2>
            <p class="date">August 2014 - Present</p>
            <p>As <span>Human Factors Engineer</span>, Grant conceptualizes and designs <span>True Key</span>, a digital identity manager that focuses on helping its users secure their digital world using biometrics.</p>
            <a href="http://www.truekey.com" id="intel" class="btn" target="_blank">View app</a>
          </div>
        </div>

        <div class="experience__position">
          <div class="kanye">
            <h2>PasswordBox</h2>
            <p class="additional-info">Acquired by <span>Intel</span></p>
            <p class="date">July 2014 - December 2014</p>
            <p>As <span>Product Designer</span>, Grant worked on <span>PasswordBox</span>, a password manager that focuses on alleviating the pain of remembering multiple passwords.</p>
            <a href="http://www.passwordbox.com" id="passwordbox" class="btn" target="_blank">View app</a>
          </div>
        </div>

      </div>
    </main>

    <footer class="footer">
        <div class="footer__content">
          <div class="kanye__ego">
            <p>&copy; 2015 Grant Harris</p>
          </div>
      </div>
    </footer>

    <%= javascript_include_tag 'main' %>

  </body>
</html>
